body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1651px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1341px;
  height:825px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1341px;
  height:825px;
}
#u4106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:404px;
  width:1337px;
  word-wrap:break-word;
}
#u4107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:276px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4107 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:549px;
  width:432px;
  height:276px;
}
#u4107_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:428px;
  word-wrap:break-word;
}
#u4108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4108 {
  border-width:0px;
  position:absolute;
  left:1351px;
  top:233px;
  width:300px;
  height:170px;
  text-align:left;
}
#u4108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:296px;
  word-wrap:break-word;
}
