body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1649px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1339px;
  height:825px;
}
#u4119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1339px;
  height:825px;
}
#u4119_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4120 {
  border-width:0px;
  position:absolute;
  left:1349px;
  top:323px;
  width:300px;
  height:170px;
  text-align:left;
}
#u4120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:69px;
  width:296px;
  word-wrap:break-word;
}
#u4121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:677px;
}
#u4121 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:74px;
  width:1166px;
  height:677px;
}
#u4121_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:330px;
  width:1162px;
  word-wrap:break-word;
}
#u4122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4122 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:22px;
  width:57px;
  height:16px;
}
#u4122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
