body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2312px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1015px;
}
#u4175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1015px;
}
#u4175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:492px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4176 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:239px;
  width:943px;
  height:492px;
}
#u4176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:500px;
}
#u4177 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:169px;
  width:1170px;
  height:500px;
}
#u4177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:51px;
  background:inherit;
  background-color:rgba(235, 231, 225, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#868686;
}
#u4178 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:96px;
  width:136px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#868686;
}
#u4178_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u4179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4179 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:476px;
  width:147px;
  height:74px;
}
#u4179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:130px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4180 {
  border-width:0px;
  position:absolute;
  left:1926px;
  top:314px;
  width:386px;
  height:130px;
  text-align:left;
}
#u4180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:382px;
  word-wrap:break-word;
}
#u4181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4181 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:596px;
  width:96px;
  height:52px;
  opacity:0;
}
#u4181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4182 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:596px;
  width:96px;
  height:52px;
  opacity:0;
}
#u4182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
